<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create movie</title>
</head>
<body>
<form action="/create/movie" method="post">
    Name: <br>
    <input type="text" name="name"><br>
    Year: <br>
    <input type="text" name="year"><br>
    Description: <br>
    <input type="text" name="description"><br>
    {#Crew members: <br>
        {% for member in crewMembers %}
            <input type="checkbox" name="crewMembers[]" value="{{ member.id }}">{{ member.firstName }} {{  member.lastName }}
            <br>
        {% endfor %}#}
    <input type="submit" value="Create">
</form>
</body>
</html>